name: Jest Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "*" ]

jobs:
  test:
    name: Run Jest Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Use Node.js 18
      uses: actions/setup-node@v4
      with:
        node-version: '18.20.8'
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Run Jest Tests
      run: npm test
